*{
    box-sizing: border-box;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(194, 247, 247);
    padding: 10px;
    border: 10px solid rgb(3, 3, 3);
    height: 300;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.contenedor div{
    background-color: rgb(253, 253, 155);
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 40px;
    border: 2px solid black;

}



body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;


}

header{
    padding: 50px;
    background-color: aquamarine;
    text-align: center;
    border: 2px solid black;
}

nav{
    background-color: white;
    display: flex;
    flex-direction: row;
}

nav a{
    background-color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;

}

.row{
    display: flex;
    flex-wrap: wrap;
}

aside{
    flex: 30%;
    background-color: beige;
    padding: 20px;
}

section{
    flex: 70%;
    background-color: rgb(100, 100, 85);
    padding: 20px;
}

footer{
    padding: 20px;
    background-color: blueviolet;
    text-align: center;
}